.learn-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 0px 25px;
}
.learn-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px ;
    margin-bottom: 70px;
}
.learn-title{
    color: #2F327D;
    font-size: 36px;
    font-weight: bold;
    font-family: Sora;
    margin-bottom: 5px;
}
.learn-paragraph{
    letter-spacing: 1px;
    color: #696984;
    padding: 0 240px;
    font-family: Sora;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.learn-cards{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 0px;
    
}


@media (max-width:838px) {
.learn-container{
    display: flex;
    flex-direction: column;
    height: 170vh;
    padding: 0px 25px;
}
.learn-title{
    font-size: 36px;
    margin-bottom: 15px;
}
.learn-paragraph{
    padding: 0 70px;
    font-size: 20px;
    margin-bottom: 40px;
}
}

@media (max-width: 428px){
.learn-container{
    display: flex;
    flex-direction: column;
    height: 1400px;
    padding: 0px 25px;
}
.learn-title{
    font-size: 28px;
    margin-bottom: 10px;
    margin-top: -80px;
}
.learn-paragraph{
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 10px;
}
}